<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Capacitancia y Resistencia</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="./open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
</head>
<body class="bg-light">
	<div id="appFisica">
		
		<br>
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conozcamos los conceptos</h2>
		
		<hr>
		
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h3>Capacitancia</h3>
					<p align="justify">Es la capacidad de un componente o circuito para <u>recoger y almacenar energía en forma
							de carga eléctrica</u>.</p>
					<img src="img/capacitancia.webp" height="260"><br>
					
					<p align="justify">El valor de la capacitancia de un capacitor se mide en faradios (<strong>F</strong>);
						denominados así
						en honor al físico inglés <strong>Faraday</strong> (1791-1867).</p>
					<p align="justify">La capacitancia se expresa como la relación entre la carga eléctrica de cada conductor y
						la diferencia de potencial (es decir, tensión) entre ellos.</p>
					<p align="justify">Los capacitores son dispositivos que almacenan energía, disponibles en muchos tamaños y
						formas. Consisten en dos placas
						de material conductor (generalmente un metal fino) ubicado entre un aislador de cerámica, película,
						vidrio u otros
						materiales, incluso aire.</p>
					<p align="justify">La conexión de capacitores en serie tiene las siguientes propiedades:</p>
					<p align="justify"></p> - La capacitancia equivalente de la combinación de capacitores (<strong>C</strong>) se obtiene a partir de la
					suma de los inversos de las capacitancias de los capacitores individuales.</p>
					<p align="justify"><strong>En serie la capacitancia equivalente</strong> es la capacidad de almacenamiento de energía total presente en los capacitores de un
					circuito, el valor total de los capacitores en serie es igual al recíproco de la suma de los recíprocos de las
					capacitancias</p>
					<img src="img/CEQUIVALENTE.jpg" height="50" align="center">&nbsp;&nbsp;&nbsp;&nbsp;
					<img src="img/CTOTAL.jpg" height="60" align="center"><br><br>
					<p align="justify"><strong>En paralelo la capacitancia equivalente</strong> del grupo de condensadores que están conectados en paralelo es igual a la suma de
					capacidades de los condensadores individuales.</p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<img src="img/CEQPARALELO.jpg" height="35" align="center">
					<p align="justify"></p>
		
		
					<img src="" height="20">
				</div>
				<div class="col-6">
					<h3>Resistencia</h3>
					<p align="justify">Es una medida de la <u>oposición al flujo de corriente en un circuito eléctrico</u>.</p>
					<img src="img/resistencia.webp" height="260">
					<p align="justify">La resistencia se mide en ohms, que se simboliza con la letra griega omega
						(<strong>Ω</strong>). Se denominaron ohmios en honor a
						<strong>Georg Simon Ohm </strong> (1784-1854), un físico alemán que estudió la relación entre voltaje,
						corriente y resistencia.
					</p>
					<p align="justify">A quien se le atribuye la ley de Omh:</p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<img src="img/OMH1.jpg" height="50">
					<p align="justify">Es decir: <u>ohms = voltios x amperes</u>. En esta fórmula, <strong><i>R</i></strong> representa la
						resistencia, <strong><i>i</i></strong> la corriente y <strong><i>v</i></strong> el voltage. </p>
					<p align="justify">Todos los materiales resisten en cierta medida el flujo de corriente. Se incluyen en una
						de dos amplias categorías:
						<strong>&nbsp;Conductores y aislantes.</strong>
					</p>
					<img src="img/LEYOHM.jpg" height="250">
				</div>
			</div>
		</div>

		<div>
			<p align="center">D&eacute click en los conceptos y deslice hacia abajo para ver la calcularora</p>
			<table margin="0" align="center">
				<tr>
					<td><a class="nav-link" :class="pantalla == 1 ? 'active': ''" href="javascript:;" @click="abrirPantalla(1)">Resistencia</a></td>
					<td><a class="nav-link" :class="pantalla == 2 ? 'active': ''" href="javascript:;" @click="abrirPantalla(2)">Capacitancia</a></td>
				</tr>
			</table>
		</div>

		
		<main class="container">
			<div class="row">
				<div class="col-sm-12">
					<form-resistencia
					v-if ="pantalla == 1"
					:key ="Math.random()">	
					</form-resistencia>

					<form-capacitancia
					v-if ="pantalla == 2"
					:key ="Math.random()">	
					</form-capacitancia>

					<form-inductancia
					v-if ="pantalla == 3"
					:key ="Math.random()">	
					</form-inductancia>


				</div>
			</div>
		</main>
	</div>

	<template id="form-resistencia">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-4">
						<ul class="nav nav-pills flex-column">
							<li class="nav-item">
								<a href="javascript:;" class="nav-link" :class="tipo == 1 ? 'active': ''" @click="setTipo(1)">En Serie</a>
							</li>
							<li class="nav-item">
								<a href="javascript:;" class="nav-link" :class="tipo == 2 ? 'active': ''" @click="setTipo(2)">En Paralelo</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-8">
						<h2>Resistencia en {{ (tipo == 1) ? 'Serie' : 'Paralelo' }}</h2>
						<form class="form-horizontal" @submit.prevent="calcularResistencia">
							<template v-for="i in cntInput">
								<div class="form-group form-group-sm row">
									<div class="input-group col-sm-7">
										<div class="input-group-prepend">
											<button type="button" class="btn btn-sm btn-danger" @click="removerInput(i)">										
												<i class="oi oi-trash"></i>
											</button>
										</div>
										<input type="number" class="form-control" step="any" v-model="form.resistencia[i]" :placeholder="'R'+i" required>
										<div class="input-group-append">
											<select class="form-control" v-model="form.medida[i]" required>
												<option v-for="(i, k) in medidas" :value="k" :title="i.nombre">{{ i.titulo }}</option>
											</select>
										</div>
									</div>
								</div>
							</template>
							<div class="form-group form-group-sm row">
								<div class="col-sm-7">
									<button type="button" class="btn btn-sm btn-secondary btn-block" @click="nuevoInput"><i class="oi oi-plus"></i></button>
								</div>
								<div class="col-sm-2">
									<button type="submit" class="btn btn-sm btn-info btn-block"><i class="oi oi-calculator"></i></button>
								</div>
							</div>
							<div class="form-group form-group-sm row">
								<label class="control-label col-sm-5">
									Resultado: <br>
									Decimal: {{resultado}} <br>
									Notación: {{ $parent.notacion(resultado) }}
								</label>

								<select class="form-control col-sm-2" v-model="medidafinal" @change="calcularResistencia" required>
							 		<option v-for="(i, k) in medidas" :value="k" :title="i.nombre">{{ i.titulo }}</option>
							 	</select>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</template>

	<template id="form-capacitancia">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-4">
						<ul class="nav nav-pills flex-column">
							<li class="nav-item">
								<a href="javascript:;" class="nav-link" :class="tipo == 1 ? 'active': ''" @click="setTipo(1)">En Serie</a>
							</li>
							<li class="nav-item">
								<a href="javascript:;" class="nav-link" :class="tipo == 2 ? 'active': ''" @click="setTipo(2)">En Paralelo</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-8">
						<h2>Capacitancia en {{ (tipo == 1) ? 'Serie' : 'Paralelo' }}</h2>
						<form class="form-horizontal" @submit.prevent="calcularCapacitancia">
							<template v-for="i in cntInput">
								<div class="form-group form-group-sm row">
									<div class="input-group col-sm-7">
										<div class="input-group-prepend">
											<button type="button" class="btn btn-sm btn-danger" @click="removerInput(i)">										
												<i class="oi oi-trash"></i>
											</button>
										</div>
										<input type="number" class="form-control" step="any" v-model="form.capacitancia[i]" :placeholder="'C'+i" required>
										<div class="input-group-append">
											<select class="form-control" v-model="form.medida[i]" required>
												<option v-for="(i, k) in medidas" :value="k" :title="i.nombre">{{ i.titulo }}</option>
											</select>
										</div>
									</div>
								</div>
							</template>
							<div class="form-group form-group-sm row">
								<div class="col-sm-7">
									<button type="button" class="btn btn-sm btn-secondary btn-block" @click="nuevoInput"><i class="oi oi-plus"></i></button>
								</div>
								<div class="col-sm-2">
									<button type="submit" class="btn btn-sm btn-info btn-block"><i class="oi oi-calculator"></i></button>
								</div>
							</div>
							<div class="form-group form-group-sm row">
								<label class="control-label col-sm-5">
									Resultado: <br>
									Decimal: {{resultado}} <br>
									Notación: {{ $parent.notacion(resultado) }}
								</label>

								<select class="form-control col-sm-2" v-model="medidafinal" @change="calcularCapacitancia" required>
							 		<option v-for="(i, k) in medidas" :value="k" :title="i.nombre">{{ i.titulo }}</option>
							 	</select>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</template>

	<footer class="page-footer font-small blue">
		<br><br><br>
		<div class="footer-copyright text-center py-3">Aplicaci&oacuten realizada por alumnos del CECyT No. 9 "Juan de Dios B&aacutetiz"
		
	</footer>


	<template id="acerca-de">
		<div class="card shadow-sm">
			<div class="card-body text-center">
				
			</div>
		</div>
	</template>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./capacitancia.js"></script>
	<script src="./resistencia.js"></script>
	<script src="./script.js"></script>
</body>
</html>